extends layout

block content
  h1#user=username
  div#users_window
    ul#users
      li#users_header Who you're chatting with!
  div#chat_window
    ul#messages
  form#chat_form
    input#chat_input(autocomplete="off")
    button#chat_button Send