div#get_gif_window
  form#search_giphy_form
    input#search_giphy_input(autocomplete="off" placeholder="search Giphy for a GIF!")
    button#search_giphy_button Search
    img#giphy_api_img(src="/images/Giphy_API_Logo_ForBlack.gif")