doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
  body
    div.container
      h1 Welcome to #{title}!
      form(action="/chat" method="GET")
        button Join the Chatroom
