doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  body
    div.container
      block content