body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  /*margin: 0 5% 0 5%;*/
}

h1 {
  text-align: center;
}


/* home page login/signup forms */
.home_container {
  /*text-align: center;*/
  margin-left: 100px;
}

.home_form {
  width: 250px;
  margin: 30px 0 30px 0;
}

.home_form input {
  position: relative;
  display: block;
  width: 250px;
}

.home_form input[type="submit"] {
  position: relative;
  width: 256px;
}

#validation_errors {
  list-style-type: none;
}

#validation_errors li {
  color: red;
}


/* message window */
#chat_window {
  height: 500px;
  width: 600px;
  left: 0;
  right: 0;
  margin: auto;
  border:1px solid black;
  overflow: scroll;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(even) {
  background: #99ff99;
}
#messages li:nth-child(odd) {
  background: #C2EBFF;
}



/* chat bar */
#chat_form {
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#chat_input {
  border: 0;
  padding: 10px;
  width: 90%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.colorCycle {
  background-color: #66FF66;
  text-align: center;
  animation-name: homeCycle;
  animation-duration:6s;
  animation-direction:alternate;
  animation-iteration-count:infinite;

  -webkit-animation-name: homeCycle;
  -webkit-animation-duration:6s;
  -webkit-animation-direction:alternate;
  -webkit-animation-iteration-count:infinite; }

  @keyframes homeCycle
  {
  0% {background-color:#66FF66;}
  25% {background-color:#000;}
  50% {background-color:#0099FF;}
  75% {background-color:#000;}
  }

  @-webkit-keyframes homeCycle
  {
  0% {background-color:#66FF66;}
  25% {background-color:#000;}
  50% {background-color:#0099FF;}
  75% {background-color:#000;}
}



/* get GIF window */
#get_gif_window {
  position: absolute;
  height: 500px;
  width: 800px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid red;
  background: black;
  overflow: scroll;
}

#search_giphy_input {
  width: 75%;
  text-align: center;
  height: 20px;
}

.gif {
  height: 100px;
  width: auto;
}